output "HDMI-A-2" {
  mode "1920x1080@60.000"

  scale 1
}

// use niri msg outputs

// ovveride default terminal because this is a bad computer :P
binds {
  Mod+Return hotkey-overlay-title="(overwritten) open terminal: alacritty" {spawn "alacritty"; }
}
